h1 {
    font-family: "KG Defying Gravity";
    font-weight: xx-large;
}

a {
    font-family: "Arial";
    font-weight: xx-large;
}

.ID {
    text-align: center;
    background-color: seashell;
    width: 500px;
    height: 300px;
}

body {
    background-image: url("Biblioteca.jpg");
}
